.card1 {
    background: linear-gradient(135deg, #510054 10%, #5151E5 100%);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color:white;
}

.card2 {
    background: linear-gradient(135deg, #000000 10%, #313131 100%);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color:white;

}

.card3 {
    background: linear-gradient(135deg, #05b05d 10%, #006e00 100%);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color:white;

}

.card4 {
    background: linear-gradient(135deg, #000000 10%, #323232 100%);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color:white;

}

.card-content {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #fff; /* White color for better visibility on gradient backgrounds */
}.card-title {
    color: #fff !important; /* Change this to the color you want */
}