.ant-layout-content {
    background:black !important;
}

.ant-layout-sider {

    background:black !important;

}

.ant-layout-sider-dark {

    background:black !important;

}
.ant-layout-sider-children {
    background:black !important;


}


.ant-menu {
    background:black !important;
}

.ant-card {
    background:#0f0f0f;
}

.red-tint {
    background-color: #ffcccc; /* light red */
  }
  
  .green-tint {
    background-color: #ccffcc; /* light green */
  }

  .card {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .card-content {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .ant-layout-header{ 
    position: sticky !important;
    top: 0 !important;
    z-index: 100 !important;
    box-shadow: 2px 2px 100px 0px #0000002e !important;
  }