.ant-layout-content {
    background:black !important;
}

.ant-layout-sider {

    background:black !important;

}

.ant-layout-sider-dark {

    background:black !important;

}
.ant-layout-sider-children {
    background:black !important;


}
.ant-menu {
    background:black !important;
}

.ant-card {
    background:#0f0f0f;
}

